PROJECT_ROOT=/root/autodl-tmp/Industrial-Defect-CV-System
DATA_ROOT=/root/autodl-tmp/Industrial-Defect-CV-System/data
OUTPUT_ROOT=/root/autodl-tmp/Industrial-Defect-CV-System/outputs
DEVICE=cuda
SEED=42